@import "tailwindcss";
@plugin "daisyui";

:root {
  --brand-gradient: linear-gradient(90deg, #ff6b00, #ec4899, #9333ea);
}

.brand-gradient {
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
